body {
    
    font-family: Poppins, sans-serif;
    background-color: #f5f0ea;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    background: #f7f2ec;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #d6892d;
    font-family: Poppins, sans-serif;

}
.task-input {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.task-list input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: gray;
    
}
.task-list label {
    flex: 1; /* Esto asegura que el texto ocupe el espacio restante */
    margin-left: 10px;
}

.task-list input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
    flex-shrink: 0;
}

input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: Poppins, sans-serif;

}
button {
    background: #61b5c6;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Poppins, sans-serif;

}
.task-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
.task-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    background: white;
    border-radius: 5px;
    margin-bottom: 10px;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
}
.task-buttons {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.task-text {
    flex-grow: 1;
    text-align: left;
    word-break: break-word; /* Asegura que el texto largo no rompa el diseño */
}

.task-list .delete-icon {
    flex-shrink: 0;
    cursor: pointer;
}

@media (max-width: 600px) {
    .task-list li {
        flex-direction: row;
        justify-content: flex-start;
    }

    .task-text {
        font-size: 14px;
    }
}

.task-buttons li {
    margin-right: 20px;
}
.completed {
    text-decoration: line-through;
    color: gray;
}
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.tab {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
    color: #666;
    transition: color 0.3s, border-bottom 0.3s;
}

.tab.active {
    color: black;
    border-bottom: 3px solid #d6892d;
}

.tab:hover {
    color: black;
}
.borrar-tarea{
    background: none;
    transition: 0.2s;
}
.borrar-tarea:hover{
    transform: scale(1.2);
}
