---
import TareaItem from './TareaItem.astro'; 
const { tareas } = Astro.props;
---
<div>
  <ul data-task-list>
    {tareas && tareas.map((tarea, i) => (
      <TareaItem tarea={tarea} index={i} />
    ))}
  </ul>

  <form method="POST" action="/" data-ajax class="text-center my-5">
    <input type="hidden" name="borrarCompletadas" value="true" />
    <button type="submit" class="w-2/5 p-2 bg-pink-200 hover:bg-pink-300 font-bold border border-pink-300 rounded">
      Borrar las tareas completadas
    </button>
  </form>
</div>