---
import App from "../App";
import "../styles/App.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Tarea 7</title>
  </head>
  <body>
    <App tableroId="1" client:only="react" />
  </body>
</html>
