---
// src/components/Header.astro
---

<head>
    <h1>TODO</h1>
</head>

<style>
    /*Estilo para el encabezado*/
    h1 {
        background-color: burlywood;
        color: white;
        padding: 20px;
        text-align: center;
    }
</style>