---
// src/components/TabButton.astro

export interface Props{
    tabId?: string; // Id opcional (como 'personal')
    label: string; // Texto del boton (obigatorio, ej: "Pesonal")
    isActive?: boolean; //¿Está seleccionado? (V/F, opcional)
    isAddButton?: boolean; // ¿Es el botón de "+" (opcional)?
}

const {tabId, label, isActive = false, isAddButton = false} = Astro.props;
---

<!--
    A LOS ESTILOS DE ESTE COMPONENTE SE ENCUENTRAN EN EL ARCHIVO "global.css" 
    los puse en ese archivo porque si lo pongo directamente en el htmml no se aplican
-->

<button
    class = {`tab-button 
        flex-1 px-5 py-2.5 bg-[#ddd] border-none cursor-pointer text-base text-center transition-colors rounded hover:bg-[#ccc]
        ${isActive ? 'bg-[#909090] text-white' : ''} 
        ${isAddButton ? 'add-tab-button' : ''}`}
    data-tab = {tabId} 
>
    {label}
</button>


<!--
<style>
    .tab-button {
        flex: 1;
        padding: 10px 20px;
        background-color: #ddd;
        border: none;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
        transition: background-color 0.3s;
        border-radius: 5px;
    }

    .tab-button.active {
        background-color: rgb(144, 144, 144);
        color: white;
    }

    .tab-button:hover {
        background-color: #ccc;
    }
</style>
-->