# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#archivos q no me sirven para entrega 10
/components/
/docs/
/exercises/
/lib/
/pages/
/public/
/styles/
/types/
/utils/
.eslint.config.ts
.next.config.ts
.package-lock.json
.package.json
.postcss.config.js
.setupTests.ts
.tailwind.config.js
.vitest.config.ts
.vitest.setup.ts
.yarn.lock
