body {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
}

.Pagina {
    width: 70vh;
    background-color: white;
    text-align: center;
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    font-style: normal;
    font-weight: bold;  
}

.hex{
    display: flex;
    justify-content: center;
}

.Selectores {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Selector {
    display: flex;
    align-items: center;
    gap: 50px;
}

input[type="range"] {
    width: 200px;
}


.color {
    width: 70vh; 
    height: 200px; 
    border: 2px solid white;
    border-radius: 10px; 
    align-items: center;
    justify-content: center;
}

.Reset{
    margin: 30px;
    background-color: rgb(187, 77, 77);
    border-radius: 10px;
    color: white;
    border: red;

}

.Reset:hover {
    background-color: rgb(126, 20, 20);
}

input[type="range"] {
    -webkit-appearance: none;
    width: 300px;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.5s;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #45a049;
}



.Red{
    background-color: rgb(187, 77, 77);
    border-radius: 10px;
    color: white;
}

.Green{
    background-color: rgb(59, 201, 54);
    border-radius: 10px;
    color: white;
}

.Blue{
    background-color: rgb(79, 77, 187);
    border-radius: 10px;
    color: white;
}

.Yellow{
    background-color: rgb(187, 201, 35);
    border-radius: 10px;
    color: white;
}

.Magenta{
    background-color: rgb(187, 77, 156);
    border-radius: 10px;
    color: white;
}

.Cyan{
    background-color: rgb(77, 178, 187);
    border-radius: 10px;
    color: white;
}

.Orange{
    background-color: rgb(216, 157, 18);
    border-radius: 10px;
    color: white;
}

.Purple{
    background-color: rgb(124, 33, 158);
    border-radius: 10px;
    color: white;
}   