/* @tailwind base;
@tailwind components;
@tailwind utilities;
*/

/* @import "tailwindcss";

body {
    background-color: rgb(240, 242, 245);
    font-family: Arial, sans-serif;
  }

h1 {
    background-color: rgb(234, 209, 221);
    padding: 10px 20px;
    border: 2px solid #cca0a0;
    width: 100%;
    text-align: center;
}

.task-form {
    background-color: rgb(242, 238, 241);
    padding: 20px;
    margin: 10px auto;
    width: 55%;
    border: 2px solid #cca0a0;
    border-radius: 10px;
    font-size: 16px;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #cca0a0;
    border-radius: 5px;
    margin-top: 10px;
}

.task-form button {
    width: 101.5%;
    padding: 8px 12px;
    background-color: rgb(235, 189, 217);
    border: 1px solid #bd7dae;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}
.task-form button:hover {
    background-color: #c388b5;
}

#borrarCompletados {
    width: 40%;
    padding: 8px;
    background-color: rgb(220, 191, 205);
    border: 1px solid #cca0a0;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    display: block;
    margin: 20px auto;
    text-align: center;
}
#borrarCompletados:hover {
    background-color: rgb(224, 199, 211);
}

ul {
    list-style: none;
    padding: 0;
}

.task-list li {
    background-color: rgb(242, 238, 241);
    width: 55%;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    font-size: 18px;
    border: 1px solid #cca0a0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
}

.task-list li span {
    flex-grow: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: block;
    max-width: calc(100% - 50px);
}

.task-checkbox {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.delete-task {
    background-color: #be4343;
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    flex-shrink: 0;
    width: 40px;
    height: 30px;
    text-align: center;
}
.delete-task:hover {
    background-color: #da3737;
}

.completed span {
    text-decoration: line-through;
    opacity: 0.6;
}


.filtros {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.filtros form {
    display: inline;
}

.filtros button {
    padding: 8px 16px;
    background-color: rgb(226, 202, 217);
    border: 1px solid #bd7dae;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.filtros button:hover {
    background-color: #c388b5;
}

.filtros button.activo {
    background-color: rgb(187, 152, 180);
    color: white;
}   */ 