---
import TaskManager from "../components/TaskManager.astro";
export const prerender = false;
import "../styles/global.css";
const url = new URL(Astro.url);
const filtro = url.searchParams.get('filtro')|| "all" ;//si cambio aca el paramentro por defecto es lo que muestra el servidor

---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDoPractia</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
  </head>
  <body class="font-sans bg-[rgba(247,242,245,0.848)] m-0 p-0">
    <h1 class="text-3xl font-bold underline">
      Hello world!
    </h1>
    <h1 class="text-red-500">hello world</h1>
    <TaskManager filtro={filtro} />
    <script type="module" src="/src/scripts/enhanced-form.ts"></script>
  </body>
</html>
