<form method="post" action="/api/eliminarCompletadas" class="delete-form">
  <button type="submit" class="eliminar" id="clear">
    Eliminar todas las tareas completadas
  </button>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const btnEliminar = document?.querySelector("#clear");

    btnEliminar?.addEventListener("click", async (e) => {
      e.preventDefault(); // Evitar la recarga de la página
      const respuesta = await fetch("/api/eliminarCompletadas", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
      });

      if (respuesta.ok) {
        // Eliminar del DOM las tareas completadas
        document.querySelectorAll(".task").forEach((task) => {
          const checkbox = task.querySelector(".checkmark"); 
          if (checkbox && checkbox.textContent === "✅") {
            task.remove();
          }
        });
      } else {
        alert("No se pudieron eliminar las tareas completadas.");
      }
    });
  });
</script>