<div class="filterContainer">
  <a href="/?filtro=all" rel="external" class="filterButtons">All</a>
  <a href="/?filtro=completadas" rel="external" class="filterButtons">Completed</a>
  <a href="/?filtro=pendientes" rel="external" class="filterButtons">Incompleted</a>
</div>