<form action="/api/tasks" method="post" class="BarTask">
  <input type="text" name="text" class="addTask" placeholder="Add a task..." required />
  <button type="submit" class="addTaskButton">ADD</button>
</form>
