---
const { task } = Astro.props;
---

<div class="Task" >
  <form action="/api/tasks" method="post"  class="checkItem">
    <input type="hidden" name="_method" value="TOGGLE" />
    <input type="hidden" name="id" value={task.id} />
    <input
        type="checkbox"
        class="checkTask"
        checked={task.completed}
        onchange="this.form.requestSubmit()"
      />
  </form>

  <p>{task.text}</p>

  <form action="/api/tasks" method="post" class="deleteItem">
    <input type="hidden" name="_method" value="DELETE"  />
    <input type="hidden" name="id" value={task.id} />
    <button class="deleteTask" type="submit">
      <i class="fas fa-trash"></i> Eliminar
    </button>
  </form>
</div>

