<form action="/api/tasks" method="post" id="add-task-form" class="BarTask flex justify-center mt-[20px] space-x-[20px]">
  <input type="hidden" name="_method" value="ADD" />
  <input type="text" name="text"  class="addTask w-[50%] h-[40px] rounded-[5px] border border-black px-[10px] placeholder-gray-500 italic" placeholder="Add a task..." required />
  <button type="submit" class="addTaskButton w-[15%] rounded-[5px] border border-black bg-[rgb(83,57,88)] text-white font-bold cursor-pointer hover:bg-[rgb(124,1,118)]">ADD</button>
</form>