body {
    font-family: Arial, sans-serif;
    background-color: #f5f0eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;   
    margin: 0;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
}

h1 {
    margin: 0;
    font-size: 36px;
    color: #333;
}

.highlight {
    color: orange;
}   

.tabs {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.tabs button {
    background: none;
    border: none;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
}

.tabs button.active {
    border-bottom: 3px solid orange;
}

.input-container {
    display: flex;
    margin: 20px;
}

.input-container input {
    flex: 1;
    padding: 12px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 8px 0 0 8px;
}

.input-container button {
    background: #66bcd9;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    background: #faf8f6;
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;
    font-size: 18px;
}

li input[type="checkbox"] {
    margin-right: 20px;
}

li.completed span {
    text-decoration: line-through;
    color: gray;
}

.delete {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    color: #ff6b6b;
    font-size: 20px;
}

#clearCompleted {
    background-color: blanchedalmond;
    border: none;
    color: orange;
    cursor: pointer;
    margin-top: 20px;
    align-self: flex-end;
    font-size: 20px; 
    padding: 12px 25px; 
}

#titulo {
    width: 100%;
    text-align: center;
    background-color: rgb(248, 211, 156);
    box-sizing: border-box;
}

#barra {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: blanchedalmond;
    box-sizing: border-box;
}

#tabla {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    width: 70%;
    background-color: blanchedalmond;
    border-radius: 30px;
}

.completed {
    background-color: blanchedalmond;
}
