---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? title : "Aplicación de Tareas"}</title>
  </head>
  <body class="bg-white text-black max-w-3xl mx-auto p-4">
    <slot />
  </body>
</html>


<style is:global>
	@import "tailwindcss";
  </style>
  