<div class="flex justify-center gap-4 mt-6 mb-4">
    <a href="/">
      <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Todas</button>
    </a>
    <a href="/?filtro=incompletas">
      <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Incompletas</button>
    </a>
    <a href="/?filtro=completas">
      <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Completas</button>
    </a>
  </div>