---
import Layout from '../layouts/Layout.astro';
import { state } from '../state';

if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    
    
	const agregarTarea = formData.get("agregarTarea");
	const completarTarea = formData.get("completarTarea");
	const eliminarTarea = formData.get("eliminarTarea");
	const limpiarCompletado = formData.get("limpiarCompletado");

	if (agregarTarea) {
		const testoDeTarea = formData.get("inputTarea");
        console.log("texto de la tarea", testoDeTarea);
		if (testoDeTarea) {
			if (typeof testoDeTarea === 'string') {
				state.tareas.push({ id: Date.now(), testo: testoDeTarea, completada: false });
			}
		}
	} else if (completarTarea) {
		const taskId = Number(completarTarea);
		const tarea = state.tareas.find(tarea => tarea.id === taskId);
		if (tarea) {
			tarea.completada = !tarea.completada;
		}
	} else if (eliminarTarea) {
		const taskId = Number(eliminarTarea);
		state.tareas = state.tareas.filter(tarea => tarea.id !== taskId);
	} else if (limpiarCompletado) {
		state.tareas = state.tareas.filter(tarea => !tarea.completada);
	}
	return Astro.redirect("/");
}
---

<Layout>
	<header>
        
        <h1> <span class="TO">To</span><span class="DO">Do</span></h1>
        
        <form method="POST" class="Filtros">
            <nav>
                <ul class="menu">
                    <li class="mn"><a href="#Hechos">Hechos</a></li>
                    <li class="mn"><a href="#NoHechos">No Hechos</a></li>
                    <li class="mn"><a href="#Todos">Todos</a></li>
                    <li class="mn"> <button class="agregar">+</button></li>
                </ul>        
            </nav>
        </form>

    </header>

        <form method="POST" class ="taskInput">
            <div class="agregador">
                <input class= "quep" id="taskInput" name="inputTarea" type="text" placeholder="que queres hacer?">
                <button type="submit" class="agbot" name="agregarTarea" value="True">+</button>
            </div>
        </form>

        <form method="POST" class="tareas-cont" id ="tareas">
            {
				state.tareas.map((tarea)=>{
					return (
						<div class="tareas" id={String(tarea.id)}>

							<button type="submit" name="completarTarea" value={tarea.id}
							class={`checko ${tarea.completada ? 'lesto' : ''}`}></button>
							<p class={`testoLacra ${tarea.completada ? 'Compete' : ''}`}>{tarea.testo}</p>

							<button type="submit" name="eliminarTarea" value={tarea.id}
							class="borrar">X</button>
						</div>
					)
				})
			}
        </form>
        
        <form method="POST" class="Limpiar_Completadas">
            <div>
                <button name="limpiarCompletado" class="clear-completed" value="True">Limpia Completadas</button>
            </div>
        </form>
    
</Layout>

<style>
    body {
    font-family: 'Arial', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9e6cd;
}

header {
    background-color: #d2c3af;
    padding: 5px 0;
    text-align: center;
    color: #ffffff;
}

nav {
    text-align: center;
    background-color: #d2c3af;
    padding: 5px 0;
}

.menu {
    list-style-type: none;
    padding: 0;
}
.menu a {
    text-decoration: none;
    color: #ffffff;
}

.menu a:hover {
    color: #ffc400;
}
.menu a:active {
    color: #d2c3af;
}
.menu li {
    background-color: #d2c3af;
    margin: 0 10px;
    display: inline;
    font-size: 1.5em;
    font-weight: bold;
}

.TO {
    color: #ffffff;
    font-size: 1.5em;
}

.DO {
    color: #ffc400;
    font-size: 1.5em;
}

.agbot {
    background-color: #ffffff;
    color:#d2c3af;
    border: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.agbot:hover {
    background-color: #d2c3af;
    color: #ffffff;
}
.agbot:active {
    background-color: #ffc400;
    color: #ffffff;
}

.quep {
    width: 500px;
    height: 55px;
    font-size: 22px;
    padding: 10px;
    border: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.quep:focus {
    outline: none;
}

.quep::placeholder {
    color: #d2c3af;
}

.agregador {
    justify-content: center;
    display: flex;
    margin: 20px 0;
}
.tareas-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.tareas {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.borrar {
    background: #ff0000; 
    color: white; 
    border: none; 
    padding: 12px 20px; 
    font-size: 16px; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: 0.1s; 
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); 
}

.borrar:hover {
    background: #9b0000; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.borrar:active {
    transform: scale(0.85); 
}

.agregar {
    background: #e9e6cd; 
    color: white; 
    border: none; 
    padding: 12px 20px; 
    font-size: 16px; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: 0.1s; 
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); 
}

.agregar:hover {
    background: #e9e6cd; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.agregar:active {
    transform: scale(0.85); 
}

.clear-completed {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.1s;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.clear-completed:hover {
    background-color: #c70039;
}

.clear-completed:active {
    transform: scale(0.95);
}

.checko{
    background: #ffffff; 
    color: white; 
    border: none; 
    padding: 12px 20px; 
    font-size: 16px; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: 0.1s; 
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); 
}
.checko.lesto {
    background: #22ff00; 
    color: white;  
}

.checko:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.checko:active {
    transform: scale(0.85); 
}
.testoLacra {
    font-size: 20px;
    color: #000000;
    margin-left: 10px;
}
.testoLacra.Compete {
    text-decoration: line-through;
    color: #8f8f8f;
}

</style>
