<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>TO DO LIST</title>
  <script src="/js/todo.js" defer></script>  <!--incluye el js q maneja ajax -->
</head>
<body class="bg-gray-100 font-sans">
  <slot /> 
</body>
</html>

<style is:global>
  @import "tailwindcss";
</style>