
* {
    font-family: sans-serif;
    color: #fff;
}
body {
  background: #202020;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

p.value {
  font-size: 4.5vmin;
  font-weight: bold;
  font-family: sans-serif;
  color: #fff;
}

button.pick {
  outline: none;
  height: 13vmin;
  width: 55vmin;
  color: #fff;
  background: linear-gradient(45deg, green, greenyellow);
  font-size: 3.9vmin;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 50vmin;
  border: none;
}

.color-picker {
  height: 80%;
  width: 50%;
  background: linear-gradient(0deg, #181819, rgba(133, 178, 133, 0.333));
  box-shadow: 0 0 60vmin 60vmin;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 5vmin;
}

.color-picker .color-preview {
  height: 45%;
  width: 100%;
  background: #fff;
  border-bottom: 0.1vmin solid #202020;
  border-radius: 5vmin 5vmin 0 0;
}

.color-picker .sliders {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-picker .sliders div {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.color-picker .sliders div p {
  font-size: 2.5vmin;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
}

.color-picker .sliders div:nth-child(1) input {
  background: linear-gradient(to right, black, red);
}

.color-picker .sliders div:nth-child(2) input {
  background: linear-gradient(to right, black, green);
}

.color-picker .sliders div:nth-child(3) input {
  background: linear-gradient(to right, black, blue);
}

.color-picker .sliders div input {
  outline: none;
  -webkit-appearance: none;
  width: 60%;
  height: 1vmin;
  border-radius: 50vmin;
  overflow: hidden;
}

.color-picker .sliders div input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  height: 3vmin;
  width: 3vmin;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.color-picker .sliders div input::-moz-range-thumb {
  background: white;
  height: 3vmin;
  width: 3vmin;
  border-radius: 50%;
  cursor: pointer;
}

.hex-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hex-value {
  font-size: 4vmin;
  font-weight: bold;
  font-family: sans-serif;
  color: #fff;
}

button.copy-hex {
  outline: none;
  height: 6vmin;
  width: 20vmin;
  color: #fff;
  background: linear-gradient(0deg, rgb(19, 19, 20), rgb(27, 28, 27));
  font-size: 2vmin;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 50vmin;
  border: none;
  cursor: pointer;
}

.preset-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.preset {
  padding: 10px;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

