<div id="DFiltro" class="flex justify-center space-x-2 mt-3">
    <a href="/" id="Todas" class="boton-filtro">Todas</a>
    <a href="/?filtro=completadas" id="Terminadas" class="boton-filtro">Terminadas</a>
    <a href="/?filtro=pendientes" id="Pendientes" class="boton-filtro">Pendientes</a>      
  </div>
  