<div class="flex items-center justify-end p-1 20 bg-[antiquewhite] space-x-120">
  <button class="text-[30px] font-bold bg-[antiquewhite] p-1,5 3 cursor-pointer hover:text-[rgb(120,118,0)] hover:border-b-[3px] hover:border-[rgb(64,0,83)]">
    PERSONAL
  </button>
  <button class="text-[30px] font-bold bg-[antiquewhite] p-1,5 3 cursor-pointer hover:text-[rgb(120,118,0)] hover:border-b-[3px] hover:border-[rgb(64,0,83)]">
    PROFESIONAL
  </button>
  <button type="button" id="AddAreaButton" class="text-[20px] text-white bg-orange-400 px-2.5 py-1.5 rounded border-none cursor-pointer hover:bg-[rgb(139,90,0)]">
    +
  </button>
</div>