@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-main: #fffaf0;
  --accent: #facc15;
  --text-main: #1f1f1f;
  --muted: #9ca3af;
  --highlight: #fde68a;
  --toast-success: #4ade80;
  --toast-error: #ef4444;
}

body {
  @apply bg-[#fffaf0] text-gray-800;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input, button {
  @apply focus:outline-none;
}