<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hola</h1>
    <input type="text" />
    <button>Click me</button>
  </body>
</html>

<script>
  const button = document.querySelector("button");

  async function fetchMessage() {
    const response = await fetch("/api/example");
    const json = await response.json();
    const h1 = document.querySelector("h1");
    if (!h1) return;
    h1.innerText = json.message;
    return json.message;
  }

  fetchMessage();

  button?.addEventListener("click", async () => {
    const input = document.querySelector("input");
    if (!input) return;
    const name = input.value;
    const response = await fetch("/api/example", {
      method: "POST",
      body: JSON.stringify({ message: name }),
      headers: {
        "Content-Type": "application/json",
      },
    });
    const json = await response.json();
    const h1 = document.querySelector("h1");
    if (!h1) return;
    h1.innerText = json.message;
  });
</script>
