<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="flex flex-col items-center font-sans bg-[#f4ede6] min-h-screen text-center text-[#555] m-0">
		<slot />
	</body>
</html>

<style is:global>
	@import "tailwindcss";
</style>
