---
--- 
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Gestor de Tareas</title>
  </head>
  <body class="bg-[#162944] text-white font-mono text-center min-h-screen">
    <slot />
  </body>
</html>
