
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f4f8; /* Gris azulado suave */
  color: #1a202c; /* Texto gris oscuro */
}

header {
  background-color: #1e3a8a; /* Azul oscuro */
  color: white;
  padding: 1rem;
}

footer {
  background-color: #1e3a8a; /* Azul oscuro */
  color: white;
  text-align: center;
  padding: 1rem;
}